<footer class="Groome-footer">
    <div class="row">
        <div class="groom-img  col-xs-12">
        <img src="../assets/images/Groome_Logo-02.svg"/>
    </div>
<div class="content col-xs-12">
    <p>Integrate and streamline your 
      people operations</p>
 </div>
 
 <div class="footer-btn col-xs-12 col-sm-6">
        <a><button>Request Demo</button></a>
     </div>
            
    <div class="footer-links col-xs-12 col-sm-6">
            <a  href="#">Services</a>
            <a href="#">Recruitment</a>     
            <a   href="#">Operation</a>
            <a href="#">Sales</a>  
     </div>
     <div class="col-xs-12 Brand">

        <p>Product of <span> hashworks.co</span></p>
        <div class="pull-right">
        <a href="#"><span><i class="fab fa-linkedin 2x"></i></span></a>
        <a href="#"><span><i class="fab fa-facebook 2x"></i></span></a>
        <a href="#"><span><i class="fab fa-twitter 2x"></i></span></a>
        </div>
        
     </div>


    </div>

</footer>
</body>




</html>


<!-- <div class=" Groome-footer__wrap">
    
       </div>
       <div class="Groome-footer__footer-content">
       <p>Integrate and streamline your 
        people operations</p>
    
       </div>
       <div class="Groome-footer__Demo">
          <a><button>Request Demo</button></a>
       </div>
       <div class="Groome-footer__Grouplinks">
         <!-- <a  class="col-xs-2" href="#">Sales</a>  font-size: 10px;

         <a  class="col-xs-3" href="#">Operation</a>
         <a  class="col-xs-3" href="#">Recruitment</a> -->
         <!-- <div class="col-xs-12">
         <a  class="col-xs-2" href="#">Services</a>
         <a  class="col-xs-3" href="#">Recruitment</a>     
         <a  class="col-xs-3" href="#">Operation</a>
         <a  class="col-xs-2" href="#">Sales</a>   
         </div> 
         <div class="last-wrapper">
         <div class="col-xs-7 ">
           <p>Product of <span>hashworks.co</span></p>
        
         </div>
         <div class="col-xs-5">
            <span></span>
            <span></span>
            <span></span>
            
            </div>
            </div> -->
          <!-- </div> --> 