{% include head.html %}
<div class="services-wrapper">
    <!-- <div class="salesBanner row">
        <div class=" col-xs-12 col-sm-6 col-sm-push-6 col-md-6 col-lg-6 sales-banner-content">

            <div class=" bannerHeading">
                <img src="/assets/images/sales/saleIcon.svg" class="sale-icon">
                <span>Sales</span>
            </div>
            <div>
                <div class="sales-content">
                    Build talent pools, power collaboration and drive better decisions with predictive analytics.
                </div>
            </div>
            <div class="salesButton">
                <button class="btn salesBtn">
                    Request Demo
                </button>
            </div>
        </div>
    </div>

    <div class="sales-subheading">
        Accelerate Passive recruiting
    </div>

    <div class="sales-subcontent">
        Beamery’s Talent CRM lets companies engage with passive candidates long before they apply. Deeply integrated with all of
        your other recruiting systems, Beamery is your single source of truth for every candidate relationship, tracking
        every touchpoint with your business, and enabling your team to make talent a strategic advantage and significantly
        reduce hiring cycles.
    </div>
    



    <article class="tabbed-content">
        <nav class="tabs">
            <ul>
                <li>
                    <a href="#tab1" class="active tb1">
                        <img src="/assets/images/email.png">
                        <span>Leads</span>
                    </a>
                </li>
                <li>
                    <a href="#tab2" class="tb2">
                        <img src="/assets/images/email.png">
                        <span>Collaboration</span>
                    </a>
                </li>
                <li>
                    <a href="#tab3" class="tb3">
                        <img src="/assets/images/email.png">
                        <span>Dashboard</span>
                    </a>
                </li>
            </ul>
        </nav>
        <section id="tab1" class="item active" data-title="Tab 1">
            <div class="accordian-heading">
                <div class="accor-container">
                <span>Leads</span>
                <span class="accor-icon-active">
                    </span>
                </div>
            </div>
            <div class="item-content row">
                <div id="accr-text-1" class="col-sm-6 col-xs-12 leftside">
                    <div class="tab-heading">
                        Maximise lead to conversion ratio
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                            Uncover insights, know your priority
                        </div>

                        <div class="tab-info-content">
                            Prioritize on quality leads, pursue what matters and focus on opportunities which get converted instantly.
                        </div>
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                            Track and follow-up on every deal
                        </div>

                        <div class="tab-info-content">
                            Stay up to date on all your leads. Identify leads that need your attention, know where they are at and what's next for them.
                        </div>
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                            Set, manage and achieve your targets
                        </div>

                        <div class="tab-info-content">
                                Measure your company’s talent deficit gap, set realistic targets and close winning deals to bring perfect balance.
                        </div>
                    </div>


                </div>
                <div id="accr-img-1" class="col-sm-6 col-xs-12 rightside">
                    <img class="tab-image" src="">
                </div>
            </div>
        </section>
        <section id="tab2" class="item" data-title="Tab 2">
            <div class="accordian-heading">
                    <div class="accor-container">
                <span>Collaboration</span>
                <span class="accor-icon-inactive">
                    </span>
                    </div>
            </div>
            <div class="item-content row">
                <div id="accr-text-2" class="col-sm-6 col-xs-12 leftside">
                    <div class="tab-heading">
                            Collaborate in real time
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                                Manage workflows, have relevant conversations
                        </div>

                        <div class="tab-info-content">
                                View multiple opportunities for a single lead. Manage each of them across their stages from discovery to win.
                        </div>
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                                Schedule meetings, get smarter in your follow up
                        </div>

                        <div class="tab-info-content">
                                Meet clients on the go. Document your conversations to drive relevant engagements with them and push your leads to a winning closure.
                        </div>
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                                Team up on tasks to set up streamlined ‘events’
                        </div>

                        <div class="tab-info-content">
                                Collaborate on tasks and deliver successful customer demos. Never lose an opportunity and make every conversation count.
                        </div>
                    </div>


                </div>
                <div id="accr-img-2" class="col-sm-6 col-xs-12 rightside">
                    <div class="tab-image">
                    </div>
                </div>
            </div>
        </section>
        <section id="tab3" class="item" data-title="Tab 3">
            <div class="accordian-heading">
                    <div class="accor-container">
                <span>Dashboard</span>
                <span class="accor-icon-inactive">
                    </span>
                    </div>
            </div>
            <div class="item-content row">
                <div id="accr-text-3" class="col-sm-6 col-xs-12 leftside">
                    <div class="tab-heading">
                            Run customer centric business
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                                Gain intelligence on your customer sentiments
                        </div>

                        <div class="tab-info-content">
                                Sense your customer’s pulse. Understand which opportunities will come through and build your sales pipeline.

                        </div>
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                                Cherry pick leads, make deals
                        </div>

                        <div class="tab-info-content">
                                Pick leads which are ready to be cracked and keep an eye on those stale leads before they are lost.
                        </div>
                    </div>
                    <div class="row tab-info">
                        <div class="tab-info-title">
                                Capture your customer needs in a single view
                        </div>

                        <div class="tab-info-content">
                                Track multiple opportunities for single lead. Have information available at your finger tips on your what the customer needs.
                        </div>
                    </div>
                </div>
                <div id="accr-img-3" class="col-sm-6 col-xs-12 rightside">
                    <div class="tab-image">
                    </div>
                </div>
            </div>
        </section>
    </article> -->



<!-- New Version starts -->



            <div class="banner">
                <div class="container">
                    <div class="row">
                    <div class="col-sm-6 col-md-6">

                    </div> 
                    <div class="col-xs-12 col-sm-6 col-md-6 banner-right1">
                            <div class=" bannerHeading">
                                    <img src="/assets/images/sales/saleIcon.svg" class="sale-icon">
                                    <span>Services</span>
                                </div>
                                
                                    <div class="sales-content">
                                            Build talent pools, power collaboration and drive better decisions with predictive analytics.
                                    </div>
                            
                                
                                    <button class="btn salesBtn">
                                        Request Demo
                                    </button>
                            
                    </div>
                </div>

                </div>
            </div>
           

             <div class="maincontent">
                <div class="container">
                        <div class="row bannerrow">
                            <div class="col-xs-12 sales-subheading">
                                    Accelerate Passive recruiting
                            </div>
                            <div class="col-xs-12 sales-subcontent">
                                    Beamery’s Talent CRM lets companies engage with passive candidates long before they apply. Deeply integrated with all of your other recruiting systems, Beamery is your single source of truth for every candidate relationship, tracking every touchpoint with your business, and enabling your team to make talent a strategic advantage and significantly reduce hiring cycles.
                            </div>
                            <div class="tabbed-content">

                                <div class="col-xs-12 tabButtonsGroup">

                                        <nav class="tabs">
                                                <ul>
                                                    <li>
                                                        <a href="#tab1" class="active tb1">
                                                            <i class="fas fa-users"></i>
                                                            <span>Elastic Workforce</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab2" class="tb2">
                                                            <i class="fas fa-users"></i>
                                                            <span>Artificial Intelligence</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab3" class="tb3">
                                                            <i class="fas fa-users"></i>
                                                            <span>Talent Management</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                 </div>

                            
                            <section id="tab1" class="item active" data-title="Tab 1">
                                <div class="accordian-heading" id="accr-heading1">
                                    <div class="accor-container">
                                       <hr>
                                    <span>Sourcing</span>
                                    <span class="accor-icon-active">
                                        </span>
                                    </div>
                                </div>
                                <div class="item-content row">
                                    <div id="accr-text-1" class="col-sm-6 col-xs-12 leftside">
                                        <div class="tab-heading">
                                                Get the elastic workforce advantage
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Bi-Modal lever
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    We partner with you to hire bright talents for innovation and to run your business.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Skill shortage
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Collaborate with our top talents to see increased productivity & rapid adoption to new technologies.
                                            </div>
                                        </div>
                                       
                    
                    
                                    </div>
                                    <div id="accr-img-1" class="col-sm-6 col-xs-12 rightside">
                                        <img class="tab-image img-desktop" src="/assets/images/sales/sales-tab-dektop.jpg">
                                        <img class="tab-image img-mobile" src="/assets/images/sales/accor-img-mobile.jpg">
                                    </div>
                                </div>
                            </section>

                            <section id="tab2" class="item" data-title="Tab 2">
                                <div class="accordian-heading">
                                        <div class="accor-container">
                                               
                                    <span>Work flow</span>
                                    <span class="accor-icon-inactive">
                                        </span>
                                        </div>
                                </div>
                                <div class="item-content row">
                                    <div id="accr-text-2" class="col-sm-6 col-xs-12 leftside">
                                        <div class="tab-heading">
                                                AI driven candidate discovery
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Skill recommendation
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Our self-aware intelligent platform understands the market skills and recommend the most opt skill-fit for your job description.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Match-Rank algorithm
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    We tie the right candidates to the right jobs. Our ranking algorithm cherry picks the perfect match for your job posting.
                                            </div>
                                        </div>
                                   
                    
                    
                                    </div>
                                    <div id="accr-img-2" class="col-sm-6 col-xs-12 rightside">
                                        <img class="tab-image img-desktop" src="/assets/images/sales/sales-tab-dektop.jpg">
                                        <img class="tab-image img-mobile" src="/assets/images/sales/accor-img-mobile.jpg">
                                    </div>
                                </div>
                            </section>
                            <section id="tab3" class="item" data-title="Tab 3">
                                <div class="accordian-heading">
                                        <div class="accor-container">
                                               
                                    <span>Artificial intelligence</span>
                                    <span class="accor-icon-inactive">
                                        </span>
                                        </div>
                                </div>
                                <div class="item-content row">
                                    <div id="accr-text-3" class="col-sm-6 col-xs-12 leftside">
                                        <div class="tab-heading">
                                                Gain access to new technologies with our millennial workforce
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Spotting the unicorn
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    We spot, groom, nurture the right talents and challenge their intellect in our development eco-system. Upskilling & problem solving is our strength.
                                            </div>
                                        </div>
                                        <div class="row tab-info">
                                            <div class="tab-info-title">
                                                    Leading the trend
                                            </div>
                    
                                            <div class="tab-info-content">
                                                    Our skilled workforce is not limited to build, operate & to grow your business. They enable you to deliver fast, differentiate and lead in your industry
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div id="accr-img-3" class="col-sm-6 col-xs-12 rightside">
                                        <img class="tab-image img-desktop" src="/assets/images/sales/sales-tab-dektop.jpg">
                                        <img class="tab-image img-mobile" src="/assets/images/sales/accor-img-mobile.jpg">
                                    </div>
                                </div>
                            </section>
                            
                        </div>
                         </div>
                </div>
            </div>


</div>
{% include footer.html %}